@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
}

/** Estilos grid layout */

.grid_container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main"
    "footer footer footer";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 20% auto;
}

.grid_header {
  grid-area: header;
}

.grid_main {
  grid-area: main;
}

.grid_aside {
  grid-area: aside;
}

.grid_footer {
  grid-area: footer;

}

/** Navegacion */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(46, 54, 65);
  height: 10px;
}

.logo {
  cursor: pointer;
  color: #fff;
  margin-left: -4.5vw;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 20px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100vw;
}

.overlay__content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

/* Seccion De Aside */

.noticia_container,
.noticia_container:nth-child(1),
.noticia_container:nth-child(2),
.noticia_container:nth-child(3),
.noticia_container:nth-child(4) {
  transition: transform .6s;
}

.noticia_container:hover,
.noticia_container:nth-child(1):hover,
.noticia_container:nth-child(2):hover,
.noticia_container:nth-child(3):hover,
.noticia_container:nth-child(4):hover {
  transform: scale(1.1);
}

.noticias {
  margin-top: 5vh;
}

.noticias p {
  text-align: center;
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  cursor: pointer;
}

.noticias img {
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 2%;
  cursor: pointer;
}

/** Noticias */

h2 {
  font-size: 50px;
  text-align: left;
  margin-left: 5vw;
  margin-bottom: 3vh;
  margin-top: -1vh;
}

h2:nth-child(2) {
  margin-top: 3vh;
}



.noticias h3 {
  text-align: center;
  font-size: 30px;
}

.container_texto {
  background: rgba(223, 222, 222, 0.472);
  width: 70vw;
  padding: 40px;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-left: 5vw;
  animation: entry 3s ease;
}

.container_texto p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 2vh;
}

.container_texto h1 {
  font-size: 30px;
  color: rgb(46, 54, 65);
}

.container_texto img {
  display: block;
  margin: auto;
  cursor: pointer;
  margin-bottom: 2vh;
}

@keyframes entry{
  from{transform: rotateX(30deg) translateX(-300px) skewX(-30deg);opacity: 0;}
  to{transform: rotateX(0deg) translateX(0) skewX(0deg);opacity: 1;}
}

/** Galeria */

.galeria {
  overflow: hidden;
  width: 70vw;
  margin-bottom: 2vh;
  margin-left: 5vw;
  margin-top: 3vh;
  cursor: pointer;
}

.galeria ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: change 20s infinite alternate;
}

.galeria li {
  width: 100%;
  list-style: none;
}

.galeria img {
  width: 100%;
}

@keyframes change {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}


/** Mapa */

.mapa_contenedor {
  display: flex;
  justify-content: center;
  width: 100%
}

.mapa_frame {
  width: 70vw;
  height: 31vh;
  margin-bottom: 2vh;
}

/** Formulario */

.formulario {
  width: 70vw;
  background-color: #0088a9;
  padding: 30px;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2%;
  border-radius: 4px;
  color: #fff;
}

.formulario h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.opciones {
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #0088a9;
}

.formulario p {
  height: 40px;
  font-size: 20px;
}

.formulario .botones {
  width: 100%;
  background-color: #24252a;
  border: none;
  padding: 12px;
  color: #fff;
  margin: 16px 0;
  font-size: 20px;
}

.formulario label {
  text-align: center;
}

.formulario label,
input {
  font-size: 20px;
  margin-bottom: 2%;
}

.bienvenida {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

/** Footer */

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: rgb(46, 54, 65);
  padding: 70px 0;
}

.footer__col {
  width: 25%;
  padding: 0 15px;
}

.footer__col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer__col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #c5bdc0;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer__col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer__col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}

.footer__col ul li a:hover {
  color: #0088A9;
  padding-left: 8px;
}

.footer__col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer__col .social-links a:hover {
  color: #0088A9;
}

/** Media */

@media (max-width: 700px) {
  .grid_container {
    display: grid;
    height: 100vh;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% auto;
  }

  .grid_aside {
    grid-area: aside;
    display: none;
  }

  h2 {
    text-align: left;
    margin-left: 6vw;
    font-size: 30px;
  }

  h3 {
    margin-top: -2vh;
    margin-bottom: 3vh;
  }

  .container_texto {
    display: block;
    margin: auto;
    width: 90vw;
  }

  .container_texto p {
    font-size: 15px;
  }

  .galeria {
    width: 72vh;
    margin-right: 2vh;
  }

  .mapa_texto {
    display: none;
  }

  .mapa_contenedor {
    display: none;
  }

  .formulario {
    width: auto;
    height: auto;
  }

  .footer {
    margin-top: -1.5vh;
  }

  .footer__col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer__col {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {

  .nav__links,
  .cta {
    display: none;
  }

  .menu {
    display: initial;
  }
}